{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "off",
    "react/display-name": "off"
  }
}
